
<body>
    <div class="container">
        <div class="icon">
            <i class="fas fa-clock"></i>
        </div>
        <h2>El 17 de julio de 2025 presentaste una apelación</h2>
        <p>Normalmente, tardamos más de un día en revisar tu información. Vuelve aquí para saber cuándo hemos terminado.</p>
        <p>No puedes usar tu cuenta de Instagram y nadie puede verla.</p>
        <h3>¿Cuál es el próximo paso?</h3>
        <p>Volveremos a revisar tu cuenta.</p>
        <p>Si consideramos que tu cuenta cumple nuestras Normas comunitarias, podrás volver a usar Instagram.</p>
        <p>Si consideramos que tu cuenta no cumple nuestras Normas comunitarias, la inhabilitaremos definitivamente y no podrás volver a apelar la decisión.</p>
        <button  href="login"  class="submit-button"(click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
    </div>
</body>