<body>
    <div class="login-container">
        <div class="logo">
            <div class="logo-icon">
                <img src="/img/logo/logo_original.png" alt="SocialLike Logo" />
            </div>
            <h1>SocialLike</h1>
        </div>
        <h2>Iniciar Sesión</h2>
        <p>Bienvenido de nuevo a SocialLike. Ingresa tus credenciales para continuar.</p>
        <form (ngSubmit)="formSubmit()" #loginForm="ngForm">
            <div class="form-group">
                <label for="username"><i class="fas fa-user"></i> Usuario</label>
                <input type="text" [(ngModel)]="loginData.username" id="username" name="username"
                    placeholder="Ingresa tu usuario" required>
            </div>
            <div class="form-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <div class="password-group">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                        [(ngModel)]="loginData.password" placeholder="Ingresa tu contraseña" required />
                    <i class="fas password-toggle" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"
                        (click)="togglePassword()"></i>
                </div>

                <div class="forgot-password-link">
                    <a href="olvidar-contrasena">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
            <button type="submit" class="login-button"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
        </form>
        <div class="register-link">
            ¿No tienes cuenta? <a href="registro">Regístrate aquí</a>
        </div>
    </div>
</body>