::ng-deep .custom-dialog {
  width: 80vw !important;
  max-width: 95vw !important;
  height: 90vh !important;
  max-height: 95vh !important;
  padding: 0 !important;

  @media (max-width: 768px) {
    width: 95vw !important;
    height: 95vh !important;
  }

  @media (max-width: 480px) {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0 !important;
    border-radius: 0 !important;
  }
}
