<body>
    <div class="forgot-password-container">
        <div class="logo">
            <div class="logo-icon">
                <img src="/img/logo/logo_original.png" alt="SocialLike Logo"  />
            </div>
            <h1>SocialLike</h1>
        </div>
        <h2>¿Tienes problemas para iniciar sesión?</h2>
        <p>Introduce tu correo electrónicoy te enviaremos un enlace para que vuelvas a entrar en tu cuenta.</p>
        <form>
            <div class="form-group">
                <label for="identifier"><i class="fas fa-envelope"></i> Correo electrónico</label>
                <input type="text" id="identifier" name="identifier" placeholder="Ingresa tu correo " required>
            </div>
            <button type="submit" class="submit-button"><i class="fas fa-paper-plane"></i> Enviar enlace</button>
        </form>
        <div class="back-link">
            ¿No puedes cambiar la contraseña? <a href="servicio-ayuda">Contacta con soporte</a>
        </div>
        <div class="back-link">
            <a href="login">Volver al inicio de sesión</a>
        </div>
    </div>
</body>