<body>
    <div class="login-container">
        <div class="logo">
            <div class="logo-icon">
                <img src="/img/logo/logo_original.png" alt="SocialLike Logo" />
            </div>
            <h1>SocialLike</h1>
        </div>
        <h2>Suspendimos tu cuenta el {{fecha}}</h2>
        <p>¿Qué significa?</p>
        <ul class="info-list">
            <li><span class="warning-icon"><i class="fas fa-exclamation-triangle"></i></span> Tu cuenta infringe
                nuestras Normas comunitarias</li>
            <li><span class="cross-icon"><i class="fas fa-times"></i></span> No se pueden confirmar tus datos, se
                inhabilita permanentemente</li>
            <li><span class="lock-icon"><i class="fas fa-lock"></i></span> En este momento, nadie puede ver esta cuenta
                en Instagram y no puedes usarla</li>
        </ul>
        <p>¿Qué puedo hacer?</p>
        <ul class="info-list">
            <li>Al no estar de acuerdo con esta decisión, te recomendamos algunos pasos para solicitar una revisión</li>
        </ul>
        <button class="continue-button" (click)="oponer()" >Oponerse a la decisión</button>
        <a href="login" class="exit-link"(click)="logout()">Iniciar sesión en otra cuenta</a>
    </div>
</body>