<div class="example-container">
    <div>
        <mat-toolbar class="example-toolbar">
            <button mat-icon-button (click)="sidenav.toggle()" class="sidenav-icon">
                <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
                <mat-icon *ngIf="sidenav.opened">close</mat-icon>
            </button>
            <h1 class="example-app-name"><img class="img-logo"></h1>
            <span class="example-spacer"></span>

            <div class="navegador">
                <h4 *ngIf="isLoggedIn && user"> {{ user.username }} </h4>
                <h4 class="tittle">
                    - Administrador
                </h4>
            </div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-icon">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>check_circle</mat-icon>
                    <span>Version: <strong>1.0.0</strong></span>
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Configuracion <strong></strong></span>
                </button>
                <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Cerrar Sesión</span>
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav mode="push" [opened]="false">
            <mat-divider></mat-divider>
            <mat-list>
                <ng-container *ngFor="let menuItem of datosmenuPrimero">
                    <mat-list-item [routerLink]="[menuItem.ruta]" (click)="toggleSubMenu(menuItem)">
                        <mat-icon>{{ menuItem.icono }}</mat-icon>
                        <span>{{ menuItem.nombre }}</span>
                    </mat-list-item>
                    <ng-container *ngIf="menuItem.mostrarSubMenu">
                        <mat-list-item *ngFor="let subMenuItem of this.menu2FiltradoPorCategoria[menuItem.categoria]"
                            [routerLink]="[subMenuItem.ruta]">
                            <mat-icon>{{ subMenuItem.icono }}</mat-icon>
                            <span>{{ subMenuItem.nombre }}</span>
                        </mat-list-item>
                    </ng-container>
                </ng-container>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>